<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="static/home.css">
    <title>Web Tech MCA Home</title>
</head>
<body>

    

    <div id="main-container" class="container-fluid">

        <div id="title">
            <h1 style="text-align: center;"><b>MCA Advance Web Technologies</b></h1>
            </div>


        <!-- <div class="container" id="title">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <div class="container-fluid"><h1>
                <a class="navbar-brand" href="/">Welcome to the MCA Advance Web Technologies Page</a></h1>
              </div>
            </nav>
          </div> -->


    
    <br>
    <p id="purpose">Last updated on 1-November-2023</p>
    <hr>
    <div id="course-content">
        <ol>
            <li>Lists</li>
            <li>Tables</li>
            <li>Links</li>
            <li>Images</li>
            <li>Video</li>
            <li>Audio</li>
            <li>Id and Class</li>
            <li>Iframe</li>
            <li>Imagemap</li>
            <li>CSS</li>
        </ol>
    </div>
<br>
    <div id="Lists">
        <h3>Ordered List, Unordered List and Definition List example,</h3>
        <p>Ordered List: &lt;OL(orderedlist)&gt;&lt;LI(listitems)&gt;&lt;/LI&gt;&lt;/OL&gt;
            Unordered List: &lt;UL(unorderedlist)&gt;&lt;LI(listitems)&gt;&lt;LI&gt;&lt;UL&gt;
            Definition List: &lt;DL(definitionlist)&gt;&lt;DT(DEFINITIONtERM)&gt;&lt;DT&gt;&lt;DD(Definition)&gt;&lt;DD&gt;&lt;DL&gt; </p>
    </div>
<br>
    <div id="Links">
        <h3>Anchor Tag:</h3>    &lt;a href="http://www.source.gov"&gt;
        &lt;a href="website source"&gt;&lt;img src="imageSource.jpeg" alt="image not supported" target="_blank/_self/_parent/_top"&gt;&lt;/a&gt;
    </div>

<br>
    <div id="video and audio">
        <h3>Video and Audio Elements:</h3>&lt;video height="300" width="480" autoplay src="myVideo.mp4"&gt;Video not supported&lt;/video&gt;
        &lt;audio height="300" width="480" autoplay src="MySong.mp3"&gt;Audio not supported&lt;/audio&gt;
    </div>
<br>
    <div id="iframe">
        <h3>IFrame: </h3>   &lt;iframe src="frame source" title="description" height="100" width="200"&gt;&lt;/iframe&gt;  
    </div>
<br>
    <div id="imagemap">
        <h3>Imagemap: </h3> &lt;img src="--" alt="image not supported" usemap="map"&gt;
        &lt;map name="map"&gt;&lt;area shape="rect" coords="34,44,270,350" alt="smiley" href="mapped.htm"&gt;&lt;/map&gt;
    </div>
<br>
    <div id="forms">
        <h3>Forms: </h3> &lt;form&gt;&lt;label for="fname">First name:&lt;/form&gt;<br>
            &lt;input type="text" id="fname" name="fname"&gt;<br>
            &lt;label for="lname"&gt;Last name:&lt;/form&gt;<br>
            &lt;input type="text" id="lname" name="lname"&gt;
          &lt;/form&gt;
    </div>
<br>
    <div id="css">
        <h3>CSS Implementation: in order of inline, internal and external,</h3>

            &lt;link rel="stylesheet" href="style.css"&gt; <br><p>--> style.css file --> h3{ color: black }</p>
            &lt;style&gt;
                h2{
                    color: blue;
                }
            &lt;/style&gt;
            &lt;H1 style="color: purple;"&gt;inline&lt;/H1&gt;
            &lt;H2&gt;internal&lt;/H2&gt;
            &lt;H3&gt;external&lt;/H3&gt;

    </div>
<br>
</div>
</body>
<br>
<div class="footer">
<footer style="text-align: center; font-size: 15px;">developed by Krishna Moni Das</footer>
</div>
</html>
