<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/home.css">
    <title>Web Tech MCA Home</title>
</head>
<body>

    <div id="title" class="navbar">
        <h1>Welcome to the MCA Advance Web Technologies Page</h1>
        </div>

    <div id="main-container">


        <!-- <div class="container" id="title">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <div class="container-fluid"><h1>
                <a class="navbar-brand" href="/">Welcome to the MCA Advance Web Technologies Page</a></h1>
              </div>
            </nav>
          </div> -->


    
    <br>
    <p id="purpose">Last updated on 30-October-2023</p>
    <hr>
    <div id="course-content">
        <ol>
            <li>Lists</li>
            <li>Tables</li>
            <li>Links</li>
            <li>Images</li>
            <li>Video</li>
            <li>Audio</li>
            <li>Id and Class</li>
            <li>Iframe</li>
            <li>Imagemap</li>
            <li>CSS</li>
        </ol>
    </div>

    <div id="Lists">
        <h3>Ordered List, Unordered List and Definition List example,</h3>
        <p>Ordered List: <xmp><OL(orderedlist)><LI(listitems)></LI></OL></xmp> 
            Unordered List: <xmp><UL(unorderedlist)><LI(listitems)></LI></UL></xmp> 
            Definition List: <xmp><DL(definitionlist)><DT(DEFINITIONtERM)></DT><DD(Definition)></DD></DL></xmp> </p>
    </div>

    <div id="Links">
        <h3>Anchor Tag:</h3><xmp><a href="http://www.source.gov"></xmp>
            <xmp><a href="website source"><img src="imageSource.jpeg" alt="image not supported" target="_blank/_self/_parent/_top"></a></xmp>
    </div>

    <div id="video and audio">
        <h3>Video and Audio Elements:</h3><xmp><video height="300" width="480" autoplay src="myVideo.mp4">Video not supported</video></xmp>
        <xmp><audio height="300" width="480" autoplay src="MySong.mp3">Video not supported</audio></xmp>
    </div>

    <div id="iframe">
        <h3>IFrame: </h3><xmp><iframe src="frame source" title="description" height="100" width="200"></iframe></xmp>
    </div>

    <div id="imagemap">
        <h3>Imagemap: </h3><xmp><img src="--" alt="image not supported" usemap="map">
        <map name="map"><area shape="rect" coords="34,44,270,350" alt="smiley" href="mapped.htm"></map></xmp>
    </div>

    <div id="forms">
        <h3>Forms: </h3><xmp> <form><label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname">
          </form> </xmp>
    </div>

    <div id="css">
        <h3>CSS Implementation: in order of inline, internal and external,</h3>
        <xmp>
            <link rel="stylesheet" href="style.css"> --> style.css --> h3{ color: black }
            <style>
                h2{
                    color: blue;
                }
            </style>
            <H1 style="color: purple;">inline</H1>
            <H2>internal</H2>
            <H3>external</H3>

        </xmp>
    </div>

</div>
</body>
<footer style="text-align: center; font-size: 15px;">developed by Krishna Moni Das</footer>
</html>